@model Product
<form asp-action="Create" method="post" asp-controller="Product">
    <div asp-validation-summary="All" />
    <label>Наименование</label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label>Категория</label>
    <input class="form-control" asp-for="Category" />
    <span asp-validation-for="Category"></span>
    <br />
    <label>Вес</label>
    <input class="form-control" asp-for="WeightKg" />
    <span asp-validation-for="WeightKg"></span> <br />
    <input class="btn btn-success" type="submit" title="Create" value="Создать" />
    <input class="btn btn-danger" type="reset" title="Reset" value="Очистить" />
</form>